name: 'Janet'
scopeName: 'source.janet'
type: 'modern-tree-sitter'
parser: 'tree-sitter-janet-simple'

fileTypes: [
  'janet'
  'jdn'
]

comments:
  start: '# '
  line: '#'

treeSitter:
  grammar: 'tree-sitter/grammar.wasm'
  highlightsQuery: 'tree-sitter/highlights.scm'

